/* You can add global styles to this file, and also import other style files */

.btn{
    width: 100%;
}

.logo{
    width: 100%;
}


input.ng-invalid.ng-dirty{
    border-bottom-color: red !important;
    box-shadow: 0 1px 0 0 red !important;
}

input.ng-valid{
    border-bottom-color: green !important;
    box-shadow: 0 1px 0 green !important;
}


.btn:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
