<div class="row">
  <div class="col d-flex justify-content-center">
      <div class="card col-md-5 jobs_index_middle_panels">
        <div class="align: text-center">
          <h2><strong>Quiz Registration</strong></h2>
        </div>
        <div>
          <img src="/assets/img/logo.jpg" style="width:100%; height:300px" class="offset-s3">
        </div>
          <div class="card-body">
            <form #registerForm="ngForm" (ngSubmit)="OnSubmit(Name.value, Email.value)">
                
                    <div class="form-group">
                      <label for="name"><h5>Name</h5></label>          
                      <input id="Name" type="text" name="Name" class="form-control" #Name ngModel required  placeholder="Enter Name">                      
                      <small id="nameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                      <label for="email"><h5>Email</h5></label>
                      <input type="text" name="Email" class="form-control" #Email ngModel required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Enter Email">
                    </div>
                    <div class="form-group text-center">
                      <button type="submit" class="btn btn-lg btn-info" [disabled]="!registerForm.valid">Submit</button>
                    </div>                    
                
            </form>
          </div>
        </div>
  </div>
  
</div>

<p>
  register works!
</p>